@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fondo para el modo claro */
  --foreground: #171717; /* Texto para el modo claro */
}

.dark {
  --background: #0a0a0a; /* Fondo para el modo oscuro */
  --foreground: #ededed; /* Texto para el modo oscuro */
}

/* Mantén soporte para 'prefers-color-scheme' */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicar las variables de color */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom utility para texto balanceado */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
